@{
    ViewData["Title"] = "Cuenta de Ahorros";
}
<footer>
    <section>
        <div class="text-center">
            <h1 class="display-4">Cuenta de Ahorros</h1>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br /><br /><br /><br />
        <br /><br />
    </section>
    <hr size="60px:" color="black">
    <p class="text-muted">&copy;Jacob Guzmán / Darío Vargas.</p>

</footer>


