@{
    ViewData["Title"] = "Cuenta de Ahorros";
}

<div class="text-center">
    <h1 class="display-4">Cuenta de Ahorros</h1>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<footer class="border-top footer text-muted">
<p>&copy; Jacob Guzmán / Darío Vargas.</p>
</footer>
