@model AppWebBD.Models.Beneficiarios

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBen</title>
</head>
<body>

<h4>Beneficiarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>-->
            <div class="form-group">
                <label asp-for="NumeroCuenta" class="control-label"></label>
                <input asp-for="NumeroCuenta" class="form-control" />
                <span asp-validation-for="NumeroCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDocumentoIdentidad" class="control-label"></label>
                <input asp-for="ValorDocumentoIdentidad" class="form-control" />
                <span asp-validation-for="ValorDocumentoIdentidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parentezcoid" class="control-label"></label>
                <input asp-for="Parentezcoid" class="form-control" />
                <span asp-validation-for="Parentezcoid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porcentaje" class="control-label"></label>
                <input asp-for="Porcentaje" class="form-control" />
                <span asp-validation-for="Porcentaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UsuarioConfirmed">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
