@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!--Muestra el mensaje de error del TempData-->
@{
    if(@TempData["ErrorMessage"]!= null){
        <div class = "alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
}
<div id="container">
    <form asp-action="Login">
        <!-- Username -->
        <label for="name">Usuario:</label>
        <input type="name" name="user">
        <!-- Password -->
        <label for="username">Contraseña:</label>
        <input type="password" name="pass">
        <div id="lower">
            <!-- Submit Button -->
            <input type="submit" value="Login">
        </div>
    </form>
</div>

