@model AppWebBD.Models.Usuario

@{
    ViewData["Title"] = "UsuarioConfirmed";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido @Model.User</h1>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer class="border-top footer text-muted">
        <p>&copy; Jacob Guzmán / Darío Vargas.</p>
    </footer>
</body>
