@model AppWebBD.Models.Usuario

@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido @Model.User</h1>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>
