@model AppWebBD.Models.Usuario

@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido @Model.User</h1>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<!-- Footer -->
    <footer class="page-footer font-small blue" >
      <div class="footer-copyright text-center py-3">
        <p>&copy; Jacob Guzmán / Darío Vargas.</p>
     </div>
    </footer>
<!-- Footer -->
</body>
