USE [ProyectoBD1]
GO
/****** Object:  StoredProcedure [dbo].[EditarBeneficiarios]    Script Date: 11/10/2020 4:10:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*Procedimiento que edita los beneficiarios*/
ALTER PROCEDURE [dbo].[EditarBeneficiarios] @inNumeroCuenta INT
	,@inValorDocIdentidadBeneficiario INT
	,@inParentezcoId INT
	,@inPorcentaje INT
	--,@outResultCode INT
	,@inID INT
	,@inAccion VARCHAR(10)
AS
BEGIN
	SET NOCOUNT ON

	/*Validaciones*/
	IF @inNumeroCuenta IN (
			SELECT 1
			FROM CuentaAhorro
			WHERE NumeroCuenta = @inNumeroCuenta
			)
		RETURN 5001	--El numero de cuenta no existe

	IF @inValorDocIdentidadBeneficiario IN (
			SELECT 1
			FROM Cliente
			WHERE ValorDocIdentidad = @inValorDocIdentidadBeneficiario
			)
		RETURN 5002 --el beneficiario no existe

	IF @inParentezcoId NOT IN (
			SELECT 1
			FROM Parentezco
			WHERE id = @inParentezcoId
			)
		RETURN 5002	--El parentezco no existe

	IF @inPorcentaje < 0
		OR @inPorcentaje > 100
		RETURN 5003	--El porcentaje es mayor a cien o negativo

	/*Agrega un nuevo beneficiario*/
	IF @inAccion = 'AGREGAR'
	BEGIN
		INSERT INTO Beneficiarios (
			NumeroCuenta
			,ValorDocumentoIdentidadBeneficiario
			,ParentezcoId
			,Porcentaje
			)
		VALUES (
			@inNumeroCuenta
			,@inValorDocIdentidadBeneficiario
			,@inParentezcoId
			,@inPorcentaje
			)
	END

	/*Editar beneficiario*/
	IF @inAccion = 'EDITAR'
	BEGIN
		UPDATE Beneficiarios
		SET NumeroCuenta = @inNumeroCuenta
			,ValorDocumentoIdentidadBeneficiario = @inValorDocIdentidadBeneficiario
			,ParentezcoId = @inParentezcoId
			,Porcentaje = @inPorcentaje
		WHERE id = @inID
	END

	/*Eliminar beneficiario*/
	IF @inAccion = 'ELIMINAR'
		BEGIN
			UPDATE Beneficiarios
			SET Activo = 0
				,FechaDesactivacion = GETDATE()
			WHERE id = @inID
		END
	SET NOCOUNT OFF
END;